body { 
    background-color: rgb(235, 235, 235);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    padding-left: 5%;
    padding-right: 5%;
}

/* For Mobile */
@media screen and (max-width: 600px) {
    .webapps {
        display: grid;
        grid-template-columns: 100%;
    }
}

/* For tablet */
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .webapps {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

/* For computer */
@media screen and (min-width: 1200px) {
    .webapps {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}


.webapp {
    background-color: white;
    border: 1.5px solid white;
    border-radius: 1.5%;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    border: 1.5px solid white;
    border-radius: 1.5%;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filtering {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 2%;
}

.toggle {
    background-color: rgb(235, 235, 235) !important;
    color: black !important;
    border: 1px solid rgb(197, 70, 70) !important;
}

.toggle-on {
    background-color: white !important;
    color: rgb(18, 48, 18) !important;
    border: 1px solid rgb(152, 204, 152) !important;
}

button:active, button:focus, toggle-all {
    box-shadow: none !important;
    border: 1 white !important;
    outline: 0 !important;
  }

h1 { 
    color: black;
    text-align:center;
    vertical-align: text-bottom;
    height: 10%;
    line-height: 1.5;
}

header {
    padding-top: 5%;
    margin-bottom: 5%;
    font-family: Bebas Neue;
    font-size: 300%;
}

::selection {
    color: white;
    background: rgb(63, 44, 18);
  }

h2 {
    text-align:center;
}

div {
    display: block;
}

a:link {
    color: rgb(112, 65, 0);
    font-weight: bold;
}

a:visited {
    color: rgb(63, 44, 18);
    font-weight: bold;
}

.tag {
    cursor: default !important;
    text-decoration: none !important;
}

ul {
    margin-bottom: 100%;
    font-size: 70%;
}

.tags {
    margin-top: 5%;

}

footer {
    margin-top: 5%;
    background-color: black;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-bottom: 5%;
    height: 20vh;
}

section {
    min-height: 80vh;
}